body {
    /*     background: #F7F7F7; */
    margin: 0px;
    /* padding-top: 80px; */
}

.form-label {
    margin-top: 10px;
}

.button {
    background-color: rgba(0, 128, 0, 0);
    color: $green;
    padding: 10px 15px;
    border-radius: 30px;
    border: 2px solid white;
    transition: 0.4s;
    font-weight: 400;
    cursor: pointer;
    width: fit-content;
    text-decoration: none;
    color: white;
    margin-top: 50px;
    &:hover {
        transition: 0.4s;
        background-color: white;
        color: black;
    }
}

.card {
    border-radius: 10px;
    padding: 15px;
    overflow: hidden;
    border-top: 5px solid $green;
    box-shadow: 0px 0px 25px #d9d9d9;
}

.cartedroite {
    background: rgba(0, 0, 0, 0.27);
    border: $green 2px solid;
    h3 {
        color: white;
    }
    h4 {
        text-align: center;
        color: white;
        font-size: 1.3em;
    }
}

.cartegauche {
    background: rgba(0, 0, 0, 0.27);
    border: $green 2px solid;
    h3 {
        color: white;
    }
    h4 {
        text-align: center;
        color: white;
        font-size: 1.3em;
    }
}

.gauflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-right {
    text-align: right;
}

.btn-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    .btn {
        margin: 0px 5px;
    }
}

.card-body {
    width: 30%;
    h2 {
        text-align: center;
        font-size: 40px;
        margin-top: 50px;
        margin-bottom: 5px;
    }
    ul.list {
        list-style: none;
        text-align: center;
    }
}

.carte {
    margin: auto;
    width: 300px;
    height: 175px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background: #262626;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 25px #dddddd;
    transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    &:hover {
        transform: scale(1.15);
        -webkit-transform: scale(1.15);
        -moz-transform: scale(1.15);
        -ms-transform: scale(1.15);
        -o-transform: scale(1.15);
    }
    &.blue {
        background: blue;
    }
    &.gold {
        background: #f4d03f;
    }
    &::before {
        position: absolute;
        content: "";
        left: 25px;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        background: url("../img/pin.png");
        width: 40px;
        height: 40px;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 999;
    }
    &::after {
        position: absolute;
        content: "";
        left: 0px;
        bottom: 0px;
        transform: translate(-25%, 25%);
        -webkit-transform: translate(-25%, 25%);
        -moz-transform: translate(-25%, 25%);
        -ms-transform: translate(-25%, 25%);
        -o-transform: translate(-25%, 25%);
        width: 150px;
        height: 150px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        filter: invert(1);
        -webkit-filter: brightness(0.85);
        background: inherit;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    }
    .brand {
        position: absolute;
        right: 25px;
        top: 15px;
        font-size: 18px;
        color: white;
        text-shadow: 0px 0px 3px black;
        text-transform: uppercase;
        span {
            color: $green;
        }
    }
    .nom {
        position: absolute;
        right: 25px;
        bottom: 25px;
        color: white;
        font-size: 18px;
        text-transform: uppercase;
    }
    .date {
        font-size: 16px;
        color: white;
        position: absolute;
        bottom: 45px;
        right: 25px;
    }
    #visa {
        position: absolute;
        left: 25px;
        bottom: 25px;
        width: 60px;
        z-index: 99;
        background: rgba(255, 255, 255, 0.3);
        padding: 5px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
    }
}

.guide {
    position: absolute;
    right: 30px;
    max-width: calc(100% - 30px);
    top: calc(100% + 5px);
    background: white;
    color: black;
    box-shadow: -5px -5px 15px #dddddd;
    border-left: 1px solid $green;
    padding: 10px;
    p {
        margin: 0px;
    }
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-top-left-radius: 0px;
    animation: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) guide ;
    -webkit-animation: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) guide;
    &::after {
        position: absolute;
        content: "X";
        right: 15px;
        top: 5px;
    }
    &.hide {
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
    }
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

@keyframes guide {
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}

.btn.disabled{
    opacity: 0.5 !important;
}